[pylint]
ignore=
    __init__.py,
disable=
    anomalous-backslash-in-string,
    bare-except,
    broad-except,
    consider-using-f-string,
    dangerous-default-value,
    duplicate-key,
    import-error,
    invalid-name,
    keyword-arg-before-vararg,
    line-too-long,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-else-continue,
    no-member,
    no-self-use,
    protected-access,
    redefined-builtin,
    redefined-outer-name,
    subprocess-run-check,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-statements,
    unidiomatic-typecheck,
    unnecessary-dict-index-lookup,
    unused-argument,
    unused-variable,
